.card-description {
  max-width: 400px !important;
  max-height: 200px !important;
  overflow: auto !important;
}

.p-info {
  margin-top: 25px !important;
  margin-bottom: 35px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.spinner {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

.twitter-input {
  display: flex !important;
  width: 400px !important;
  margin: 0 auto !important;
  align-items: center !important;
  justify-content: center !important;
}

.twitter-label {
  width: 300px !important;
  margin-top: 5px !important;
  font-weight: 600 !important;
}
