.card-product {
  max-width: 400px !important;
  height: 300px !important;
  overflow: auto !important;
  margin: 10px !important;
  display: inline-block !important;
}

.wallet {
  display: flex !important;
  justify-content: end !important;
  align-items: center !important;
  margin-bottom: 35px !important;
  margin-top: 30px !important;
}

.wallet-title {
  text-align: left !important;
}

.money-earned {
  margin-bottom: 5px !important;
  margin-left: 10px !important;
  margin-right: 60px !important;
  border: 1px solid black !important;
  border-radius: 8px !important;
}
