.container-editOrganization {
  width: 800px;
  text-align: start;
  margin: 0 auto;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  padding: 20px;
}

.edit-buttonsDiv {
  display: flex;
  justify-content: end;
}

.button-edit {
  margin-left: 20px;
}

.close-button {
  display: flex !important;
  justify-content: end;
}

.email-input {
  box-shadow: none !important;
  background-color: #a3a3a3ae !important;
  border: none !important;
}

.email-input :focus {
  background-color: #a3a3a3ae !important;
}

.area-text {
  max-height: 300px !important;
}
